<nav class="pure-menu">
    <div th:object="${user}" class="user pure-menu-item"><a th:href="@{/my-account}" class="profile-link">
        <img th:src="@{'/img/avatar/users/' + *{id} + *{avatar}}" th:alt="'Avatar de ' + *{lastname} + ' ' + *{firstname}" class="pure-img-responsive nav-avatar"><br>
        <span th:text="*{firstname} + ' ' + *{lastname}" />
    </a>
    </div>
    <ul class="pure-menu-list">
        <li class="pure-menu-item"><a th:href="@{/contact/list}" class="pure-menu-link">Liste des contacts</a></li>
        <li class="pure-menu-item"><a th:href="@{/contact/add}" class="pure-menu-link">Ajouter un contact</a></li>
        <li class="pure-menu-item"><a th:href="@{/my-account}" class="pure-menu-link">Mon compte</a></li>
        <li class="pure-menu-item">
            <form th:action="@{/logout}" method="post">
                <button type="submit" class="pure-menu-link nav-btn">Déconnexion</button>
            </form>
        </li>
    </ul>
</nav>