<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"  xmlns:th="https://www.thymeleaf.org/">
    <title>Title</title>
</head>
<body>
  <header>
    <div th:replace="~{fragments/nav-auth :: nav}" />
    <h1>Add contact</h1>
  </header>
  <main>
    <form action="#" th:action="@{/relation/add}"  method="post">
      <div>
        <p th:text="${contactSrc.lastname} + ' ' + ${contactSrc.firstname}">
      </div>
      <div hidden>
        <input th:name="contactSrcId" th:value="${contactSrc.id}">
      </div>
      <div>
        <span>est</span>
      </div>
      <div>
        <select th:name="tagSrcId">
          <option th:each="t : ${tags}" th:object="${t}"  th:value="*{id}" th:text="*{neutral}">
        </select>
      </div>
      <div>
        <span>de</span>
      </div>
      <div>
        <select th:name="contactDestId">
          <option th:each="c : ${contacts}" th:object="${c}" th:value="*{id}" th:text="*{lastname}" >
        </select>
      </div>
      <input type="submit" value="Confirmer">
    </form>
  </main>
  <div th:replace="~{fragments/footer :: footer}" />
</body>
</html>