<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" xmlns:th="https://www.thymeleaf.org/">
        <title>Contact - Liste Contacts</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
        <link th:href="@{/styles/style.css}" rel="stylesheet"/>
        <link th:href="@{/styles/card.css}" rel="stylesheet"/>
        <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    </head>
    <body>
    <div id="layout">
        <!-- Menu toggle -->
        <a href="#menu" id="menuLink" class="menu-link">
            <!-- Hamburger icon -->
            <span></span>
        </a>
        <div id="menu" class>
            <div th:replace="~{fragments/nav-auth :: nav}" />
        </div>
        <div id="main">
            <header class="header">
                <h1>Liste contacts</h1>
            </header>
            <main class="content">
            <section>
                <div class="pure-g">
                    <div class="pure-u-1-2">
                        <form class="pure-form" th:action="@{/contact/find}" method="get">
                            <input type="text" class="pure-input" placeholder="Recherche" name="search">
                            <button type="submit" class="pure-button">Search</button>
                        </form>
                    </div>
                    <div class="pure-u-1-2 menu-icons">
                        <a th:href="@{/contact/list}"><i class="ri-user-add-line"></i></a>
                    </div>
                </div>
                <div class="flex flex-wrap">
                    <a th:each="contact : ${ contacts }" th:object="${contact}" th:href="@{'/contact/delete/' + *{id}}">
                        <div class="card-border-color-width p-1 m-1 card-contact">
                            <img th:src="@{'/img/avatar/contacts/' + *{avatar}}" th:alt="'Avatar de ' + *{lastname} + ' ' + *{firstname}" class="pure-img w-150">
                            <strong><i class="ri-user-line"></i>  [[*{firstname} + ' ' + *{lastname}]]</strong>
                            <p><i class="ri-phone-line"></i> [[*{tel}]]</p>
                        </div>
                    </a>
                </div>
            </section>
        </main>
        <div th:replace="~{fragments/footer :: footer}" />
        </div>
    </div>
    <script type="text/javascript" th:src="@{/js/ui.js}"></script>
    </body>
</html>