<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" xmlns:th="https://www.thymeleaf.org/" >
    <title>Détails contact</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css"
          integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <link th:href="@{/styles/style.css}" rel="stylesheet"/>
    <link th:href="@{/styles/card.css}" rel="stylesheet"/>
</head>
<body>
<div id="layout">
    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>
    <div id="menu">
        <div th:replace="~{fragments/nav-auth :: nav}"/>
    </div>
    <main id="main" th:object="${contact}">
        <header class="header">
            <h1>Détails</h1>
        </header>
        <section class="content">
            <img th:src="@{'/img/avatar/contacts/' + *{avatar}}" th:alt="'Avatar de ' + *{lastname} + ' ' + *{firstname}" class="pure-img"><a th:href="@{'/contact/detail/edit/' + *{id} + '/avatar'}" class="pure-button">Modifier</a>
            <p th:text="'Nom : ' + *{lastname}"></p><a th:href="@{'/contact/detail/edit/' + *{id} + '/lastname'}" class="pure-button">Modifier</a>
            <p th:text="'Prénom : ' + *{firstname}"></p><a th:href="@{'/contact/detail/edit/' + *{id} + '/firstname'}" class="pure-button">Modifier</a>
            <p th:text="'Email : ' + *{email}"></p><a th:href="@{'/contact/detail/edit/' + *{id} + '/email'}" class="pure-button">Modifier</a>
            <p th:text="'Tél : ' + *{tel}"></p><a th:href="@{'/contact/detail/edit/' + *{id} + '/tel'}" class="pure-button">Modifier</a>
        </section>
        <footer class="content">
            <a th:href="@{'/relation/add/' + *{id}}" class="pure-button pure-button-primary">Ajout d'une relation</a>
            <div>

                <div th:each="relationSrc, size : ${relationsSrc}" th:object="${relationSrc}">
                    <a th:href="@{'/contact/detail/' + *{contactDest.id}}">
                        <div>
                            <span  th:text="*{contactDest.lastname +' ' +  contactDest.firstname }"/>
                            <span  th:text="*{tagSrc.tagDest != null ? tagSrc.tagDest.neutral : tagSrc.neutral }"/>
                        </div>
                    </a>
                    <a th:href="@{'/relation/delete/' + *{contactSrc.id } + '/' + *{contactDest.id }}" class="pure-button">Supprimer</a>
                </div>

                <div th:each="relationDest : ${relationsDest}" th:object="${relationDest}">
                    <a th:href="@{'/contact/detail/' + *{contactSrc.id}}">
                        <div>
                            <span  th:text="*{contactSrc.lastname +' ' +  contactSrc.firstname }"/>
                            <span  th:text="*{tagSrc.neutral}"/>
                        </div>
                    </a>
                    <a th:href="@{'/relation/delete/' + *{contactSrc.id } + '/' + *{contactDest.id }}" class="pure-button">Supprimer</a>
                </div>
            </div>
        </footer>
    </main>
    <div th:replace="~{fragments/footer :: footer}"/>
</div>
<script type="text/javascript" th:src="@{/js/ui.js}"></script>
</body>
</html>