<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" xmlns="http://www.w3.org/1999/html" xmlns:th="https://www.thymeleaf.org/">
        <title>Détails contact</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
        <link th:href="@{/styles/style.css}" rel="stylesheet"/>
    </head>
    <body>
    <div id="layout">
        <!-- Menu toggle -->
        <a href="#menu" id="menuLink" class="menu-link">
            <!-- Hamburger icon -->
            <span></span>
        </a>
        <div id="menu" class>
            <div th:replace="~{fragments/nav-auth :: nav}" />
        </div>
        <div id="main">
            <header class="header">
                <h1>Details</h1>
            </header>
            <main class="content">
            <div th:object="${contact}">
              <p th:text="*{lastname}"></p>
              <p th:text="*{firstname}"></p>
              <p th:text="*{email}"></p>
              <p th:text="*{tel}"></p>
            </div>
        </main>
        <div th:replace="~{fragments/footer :: footer}" />
        </div>
    </div>
    </body>
</html>