<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="https://www.thymeleaf.org/">
    <title>Title</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a th:href="@{/contact/list}">Contacts</a></li>
                <li><a th:href="@{/contact/add}">Ajout de contact</a></li>
            </ul>
        </nav>
        <h1>List contact</h1>
    </header>
    <main>
        <div th:each="contact : ${ contacts }" th:object="${contact}">
            <div th:href="@{/contact/detail/${id}}">
                <p th:text="*{firstname}">
                <p th:text="*{lastname}">
            </div>
        </div>
    </main>
</body>
</html>