<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" xmlns:th="https://www.thymeleaf.org/">
        <title>Title</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
        <link th:href="@{/styles/style.css}" rel="stylesheet"/>
    </head>
    <body>
    <div id="layout">
        <!-- Menu toggle -->
        <a href="#menu" id="menuLink" class="menu-link">
            <!-- Hamburger icon -->
            <span></span>
        </a>
        <div id="menu" class>
            <div th:replace="~{fragments/nav-auth :: nav}" />
        </div>
        <div id="main">
            <header class="header">
                <h1>Liste contacts</h1>
            </header>
            <main class="content">
            <section>
                <ul>
                    <li>
                        <a th:href="@{'/contact/detail/' + *{id}} " th:each="contact : ${ contacts }" th:object="${contact}" class="contact">
                            <div>
                                <p th:text="*{firstname} + ' ' + *{lastname}">
                            </div>
                        </a>
                    </li>
                </ul>
            </section>
        </main>
        <div th:replace="~{fragments/footer :: footer}" />
        </div>
    </div>
    <script type="text/javascript" th:src="@{/js/ui.js}"></script>
    </body>
</html>