<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" xmlns:th="https://www.thymeleaf.org/">
    <title>Contact - Mon Compte</title>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <link th:href="@{/styles/style.css}" rel="stylesheet"/>
      <link th:href="@{/styles/card.css}" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css">
  </head>
  <body>
  <div id="layout">
    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link">
      <!-- Hamburger icon -->
      <span></span>
    </a>
    <div id="menu" class>
      <div th:replace="~{fragments/nav-auth :: nav}" />
    </div>
    <div id="main">
      <header class="header">
        <h1>Mon compte</h1>
      </header>
      <main class="content">
      <div th:object="${user}" class="pure-g pure-u-1">
          <a th:href="@{/my-account/edit/avatar}">
              <div class="card-border-color-width text-center pure-u-1">
                  <span><i class="ri-edit-2-line"></i> Avatar</span>
                  <img th:src="@{'/img/avatar/users/' + *{avatar}}" th:alt="'Avatar de ' + *{lastname} + ' ' + *{firstname}" class="pure-img-responsive act-avatar">
              </div>
          </a>
          <a th:href="@{/my-account/edit/firstname}" class="pure-u-1">
              <div class="card-border-color-width pure-g">
                  <span class="pure-u-1 pure-u-md-1-4"><i class="ri-edit-2-line"></i> Prénom</span>
                  <span class="pure-u-1 pure-u-md-3-4" th:text="*{firstname}" />
              </div>
          </a>
          <a th:href="@{/my-account/edit/lastname}" class="pure-u-1">
              <div class="card-border-color-width pure-g">
                  <span class="pure-u-1 pure-u-md-1-4"><i class="ri-edit-2-line"></i> Nom</span>
                  <span class="pure-u-1 pure-u-md-3-4" th:text="*{lastname}" />
              </div>
          </a>
          <a th:href="@{/my-account/edit/email}" class="pure-u-1">
              <div class="card-border-color-width pure-g">
                  <span class="pure-u-1 pure-u-md-1-4"><i class="ri-edit-2-line"></i> Email</span>
                  <span class="pure-u-1 pure-u-md-3-4" th:text="*{email}" />
              </div>
          </a>
          <a th:href="@{/my-account/edit/password}" class="pure-u-1 card-delete-style-link">
              <div class="card-border-color-width pure-g text-center">
                  <span class="pure-u-1"><i class="ri-edit-2-line"></i> Mot de passe</span>
              </div>
          </a>
        </div>
      </div>
    </main>
    <div th:replace="~{fragments/footer :: footer}" />
    </div>
  </div>
  <script type="text/javascript" th:src="@{/js/ui.js}"></script>
  </body>
</html>